

.photo-info-box{

    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background-color: #fff;
}


.info-box-header{
    padding: 6px;
    border-bottom: 1px solid #8d8d8d;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}


.photo-info-box. box-inner{
    border-top: 1px solid #8b8b8b;
    background-color: #8b8b8b;
    padding: 6px
}

@media (min-width: 768px) {
    #rootUUUU {
        max-width: 150px;
    }

    #b_dt_1{
       max-width: 110px;
    }

    #b_dt_3{
        max-width: 120px;
    }
    .clrosl{
        width: 23em;
    }

    .tytiei{
        width: 10em;
    }

    #ro_ro_rodl{
        width: 16em;
    }

    #comment{
        width: 29em;
    }


}






